[Unit]
Description=quickstart

[Service]
User=ubuntu
Environment=PYTHONUNBUFFERED=1
Environment=PATH=/home/ubuntu/quickstart/bin:/home/ubuntu/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
WorkingDirectory=/home/ubuntu/quickstart/
ExecStart=/home/ubuntu/quickstart/aws-pcf-quickstart daemon
Restart=always
RestartSec=15s
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
